<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".PetDiaryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetDiary"
        tools:targetApi="31">
        <activity
            android:name=".view.activities.AddPostCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.MyProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".view.activities.MyPetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ReviewHomePageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.FindPetShopVetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CommunityHomePageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ArticleHomePageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ActivityChooseProductCategory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ChoosePetCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.FillProductInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProductDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProductPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ChooseProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProductCategoriesPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.GiveRatingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.UsageProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.RecommendProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.WriteReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>