<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".PetDiaryApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetDiary"
        tools:targetApi="31">
        <activity
            android:name=".view.activities.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activities.MyProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SigninActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".view.activities.PetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ReviewHomePageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.FindPetShopVetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.AddPostCommunityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CommunityHomePageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ActivityChooseProductCategory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ChoosePetCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.FillProductInformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProductDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProductPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ChooseProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProductCategoriesPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.GiveRatingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.UsageProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.RecommendProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.WriteReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MoreReviewsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.DetailReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ArticleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SearchArticleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.HomepageArticleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ReviewCommentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="false" />
    </application>

</manifest>